/*   FONT FAMILIES   */

@font-face {
    src: url(../fonts/Consolas.ttf);
    font-family: "Consolas";
}

@font-face {
    src: url(../fonts/Avenir-Lt-Pro-65-Medium.otf);
    font-family: "Avenir LT Pro Black";
}

@font-face {
    src: url(../fonts/Avenir-Lt-Pro-55-Roman.otf);
    font-family: "Avenir LT Pro Heavy";
}

@font-face {
    src: url(../fonts/Inter-Regular.ttf);
    font-family: "Inter";
}

//  VARIABLES

  // Colors

  $headerFooter: royalblue;
  $counterEtc: lavender;
  $h1FooterP: white;

  // Fonts

  $headingCounterStack: "Avenir LT Pro Black", "Arial Black";
  $footerFontStack: "Consolas", "Inter", "Arial", "Helvetica";
  $liHeading3: "Avenir Lt Pro Heavy";

//  MIXINS

@mixin centered {
    text-align: center
}

@mixin formStyles {
    border: 2px solid $counterEtc;
    border-radius: 3px;
    font-family: $footerFontStack;
    padding: 3px;
    margin: 5px;
    margin-top: 10px;
}

/*  MAIN CSS CODE  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $headerFooter;
    margin: 0;
    padding: 0;
}

#header {
    background-color: $headerFooter;
    padding: 30px;
}

#heading1 {
    font-family: $headingCounterStack;
    font-size:80px;
    color: $h1FooterP;
    margin: auto;
    text-align: center;
}

#heading2 {
    font-family: $headingCounterStack;
    font-size:20px;
    color: $counterEtc;
    margin: auto;
    @include centered;
}

.heading3 {
    font-family: $liHeading3;
    font-size: 16px;
    color: $headerFooter;
    margin-right: 8px;
}

section#user-input {
    padding-top: 30px;
}

form#stack {
    @include centered;
    border-top: 1px solid $counterEtc;
    border-bottom: 1px solid $counterEtc;
    padding: 5px;
    background-color: $counterEtc;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

#input {
    @include formStyles;
    width: 25%;
    border: 2px solid $headerFooter;
}

.hide {
    // display: none;
    opacity: 0;
}

.show {
    display: inline-block;
    opacity: 1;
}

#btn {
    @include formStyles;
    background-color:$headerFooter;
    color:$counterEtc;
    width: 5%;
    font-family: $liHeading3;
    margin-right: 5px;
}

#save-btn {
    @include formStyles;
    background-color:$headerFooter;
    color:$counterEtc;
    width: 5%;
    font-family: $liHeading3;
    transition: opacity 0.6s ease-in-out;
}

// section#tech-display {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: row;
// }

ul {
    // max-width: 30%;
    @include centered;
    margin-bottom: 5px;
}

#counter {
    font-family: $headingCounterStack;
    font-size: 150px;
    color: $counterEtc;
    @include centered;
}

#footer {
    background-color: black;
    padding-bottom:45px;
    padding-top: 10px;
}

#footer p {
    font-family: $footerFontStack;
    font-size: 14px;
    color: $h1FooterP;
    @include centered;
    margin-top: 30px;
}

#footer a {
    color: $headerFooter;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

.fineprint {
    font-size: 10px;
    font-family: $footerFontStack;
    color: $counterEtc;
    @include centered;
    display: block;
    margin-top: 15px;
}

/*  JAVASCRIPT INJECTED STYLES  */

.li-styles {
    font-family: $liHeading3;
    font-size: 16px;
    color: $counterEtc;
    margin: 8px;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid $counterEtc;
    transition: 0.4s ease;
}

.li-styles:hover {
    color: $headerFooter;
    background-color: $counterEtc;
    padding: 5px;
}

.inline-block {
    display: inline-block;
}

/*  MEDIA QUERIES  */
