/*   FONT FAMILIES   */



@font-face {

    src: url(../fonts/Consolas.ttf);
    font-family: "Consolas";
}



@font-face {

    src: url(../fonts/Avenir-Lt-Pro-65-Medium.otf);
    font-family: "Avenir LT Pro Black";
}



@font-face {

    src: url(../fonts/Avenir-Lt-Pro-55-Roman.otf);
    font-family: "Avenir LT Pro Heavy";
}



@font-face {

    src: url(../fonts/Inter-Regular.ttf);
    font-family: "Inter";
}



//  VARIABLES 


// Colors

$headerFooter: black;
$counterEtc: coral;
$h1FooterP: white;

// Fonts

$headingCounterStack: "Avenir LT Pro Black", "Arial Black";
$footerFontStack: "Consolas", "Inter", "Arial", "Helvetica"; 
$liHeading3: "Avenir Lt Pro Heavy";

//  MIXINS  

@mixin centered {
    text-align: center
}

@mixin formStyles {
    border: 2px solid $counterEtc;
    border-radius: 3px;
    font-family: $footerFontStack;
    padding: 3px;
    margin: 5px;
    margin-top: 10px;
}

/*  MAIN CSS CODE  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    background-color: $headerFooter;
    padding: 30px;
}

#heading1 {
    font-family: $headingCounterStack;
    font-size:80px;
    color: $h1FooterP;
    margin: auto;
    text-align: center;
}

#heading2 {
    font-family: $headingCounterStack;
    font-size:20px;
    color: $counterEtc;
    margin: auto;
    @include centered;
}

#user-input {
    padding-top: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#input {
    @include formStyles;
}

#btn {
    @include formStyles;
    background-color:$counterEtc;
    color:$h1FooterP;
}

#stack {
    @include centered;
}

// #tech-display{
//     display: flex;
//     align-items: space-around;
//     justify-content: center;
// }

// ul {
//     max-width: 500px;
// }

.heading3 {
    font-family: $liHeading3;
    font-size: 16px;
    color: $counterEtc;
}

#counter {
    font-family: $headingCounterStack;
    font-size: 150px;
    color: $counterEtc;
    padding: 5px;
    @include centered;
}

#footer {
    background-color: $headerFooter;
    padding-bottom:56px;
    padding-top: 30px;
}

#footer p {
    font-family: $footerFontStack;
    font-size: 14px;
    color: $h1FooterP;
    @include centered;
    margin-top: 10px;
}

.fineprint {
    font-size: 10px;
    font-family: $footerFontStack;
    color: $counterEtc;
    @include centered;
    display: block;
    margin-top: 30px;
}

/*  JAVASCRIPT INJECTED STYLES  */

.li-styles {
    font-family: $liHeading3;
    font-size: 16px;
    color: $counterEtc;
    margin: 8px;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid coral;
}

.inline-block {
    display: inline-block;
}

/*  MEDIA QUERIES  */