/*   FONT FAMILIES   */
@font-face {
  src: url(../fonts/Consolas.ttf);
  font-family: "Consolas";
}
@font-face {
  src: url(../fonts/Avenir-Lt-Pro-65-Medium.otf);
  font-family: "Avenir LT Pro Black";
}
@font-face {
  src: url(../fonts/Avenir-Lt-Pro-55-Roman.otf);
  font-family: "Avenir LT Pro Heavy";
}
@font-face {
  src: url(../fonts/Inter-Regular.ttf);
  font-family: "Inter";
}
/*  MAIN CSS CODE  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: royalblue;
  margin: 0;
  padding: 0;
}

#header {
  background-color: royalblue;
  padding: 30px;
}

#heading1 {
  font-family: "Avenir LT Pro Black", "Arial Black";
  font-size: 80px;
  color: white;
  margin: auto;
  text-align: center;
}

#heading2 {
  font-family: "Avenir LT Pro Black", "Arial Black";
  font-size: 20px;
  color: lavender;
  margin: auto;
  text-align: center;
}

.heading3 {
  font-family: "Avenir Lt Pro Heavy";
  font-size: 16px;
  color: royalblue;
  margin-right: 8px;
}

section#user-input {
  padding-top: 30px;
}

form#stack {
  text-align: center;
  border-top: 1px solid lavender;
  border-bottom: 1px solid lavender;
  padding: 5px;
  background-color: lavender;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

#input {
  border: 2px solid lavender;
  border-radius: 3px;
  font-family: "Consolas", "Inter", "Arial", "Helvetica";
  padding: 3px;
  margin: 5px;
  margin-top: 10px;
  width: 25%;
  border: 2px solid royalblue;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

#btn {
  border: 2px solid lavender;
  border-radius: 3px;
  font-family: "Consolas", "Inter", "Arial", "Helvetica";
  padding: 3px;
  margin: 5px;
  margin-top: 10px;
  background-color: royalblue;
  color: lavender;
  width: 5%;
  font-family: "Avenir Lt Pro Heavy";
  margin-right: 5px;
}

#save-btn {
  border: 2px solid lavender;
  border-radius: 3px;
  font-family: "Consolas", "Inter", "Arial", "Helvetica";
  padding: 3px;
  margin: 5px;
  margin-top: 10px;
  background-color: royalblue;
  color: lavender;
  width: 5%;
  font-family: "Avenir Lt Pro Heavy";
  transition: 5s ease-in;
}

ul {
  text-align: center;
  margin-bottom: 5px;
}

#counter {
  font-family: "Avenir LT Pro Black", "Arial Black";
  font-size: 150px;
  color: lavender;
  text-align: center;
}

#footer {
  background-color: black;
  padding-bottom: 45px;
  padding-top: 10px;
}

#footer p {
  font-family: "Consolas", "Inter", "Arial", "Helvetica";
  font-size: 14px;
  color: white;
  text-align: center;
  margin-top: 30px;
}

#footer a {
  color: royalblue;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.fineprint {
  font-size: 10px;
  font-family: "Consolas", "Inter", "Arial", "Helvetica";
  color: lavender;
  text-align: center;
  display: block;
  margin-top: 15px;
}

/*  JAVASCRIPT INJECTED STYLES  */
.li-styles {
  font-family: "Avenir Lt Pro Heavy";
  font-size: 16px;
  color: lavender;
  margin: 8px;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid lavender;
  transition: 0.4s ease;
}

.li-styles:hover {
  color: royalblue;
  background-color: lavender;
  padding: 5px;
}

.inline-block {
  display: inline-block;
}

/*  MEDIA QUERIES  */
